/* Styles for the Advanced Markup assignment. */

/* NAV */

nav ul li {
        display: inline;
        border: solid 5px #414544;
        padding: 5px;
}

.active {
       font-weight: 900px;
       background: #E6DFDD0;
    }


/* table styles */
table {
    width: 75%;
    text-align: left;
}



/* yyyyyyyyyyyyyyyy */



/* zzzzzzzzzzzzzzzzzz */



