/* Styles for the Advanced Markup assignment. */

/* NAV */

nav ul li {
        font-family: sans-serif;
        display: inline;
        border: solid 5px #563917;
        padding: 5px;
}

.active {
       font-weight: 900;
       background: #b87333;
    }


/* table styles */
table {
    width: 75%;
    text-align: left;
    font-family: sans-serif;
}

.selected_works {
    font-weight: 500px;
    align: left;
}

/* Sidebar Float */
#sidebar {
        float:right;
        width: 25%;
        background: #b87333;
        color: #ffffff;
        margin: 20px;
        padding: 10px;
        
}



/* pic float */
.bio-photo {
        width: 25%;
        float: left;
        background: #D5D1CD;  
        margin: 15px;
        padding: 7.5px;
}

.bio-photo img {
        width: 100%;
        height: auto;
}

/* page styles */

dt  {
    font-weight: 900;
}

p   {
    font-family: sans-serif;
}

header  {
        font-family: sans-serif;
}

footer  {
        font-family: sans-serif;
}

/* poem */

#content-poem {
        font-style: italic;
        margin: 5px;
        padding: 2.5px;
}

.pretty {
        width: 30%;
        border-style: double;
        background-color: #D5D1CD;
        }